doctype html
html 
  head 
    title Mussel Monster Gym
    block scripts 
    block style
body 
    nav#navbar.top 
        ul
            li #[a(href="/") Home] 
            li #[a(href="/") About us]
            li #[a(href="/") Services]
            li #[a(href="/") Trainers] 
            li #[a(href="contact") Contact us]
            
    block content 
    footer#footer 
        | copyright 2k22 MusselMonster.com | all rights reserved