//- doctype html 
//- html
//-   head
//-     style
//-       include ../static/style.css
//-   body
//-     nav#navbar.top 
//-         ul
//-             li #[a(href="/") Home] 
//-             li #[a(href="/") About us]
//-             li #[a(href="/") Services]
//-             li #[a(href="/") Trainers] 
//-             li #[a(href="/") Contact us]

//-     section#intro
//-         div Welcome to Mussel Monster
//-         div.small Gain Your skill & win
//-         div.small1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum laudantium rem eius!
//-     section#misson 
//-         h2 section for mission
//-         div.card
//-             h1 Member Ship
//-             div.card-box
//-                 div.card-img
//-                     img(src="/static/bg1.webp") 
//-                 div.card-content 
//-                     p 2000/- 3 Months
//-         div.card
//-             h1 Member Ship
//-             div.card-box
//-                 div.card-img
//-                     img(src="/static/bg1.webp") 
//-                 div.card-content 
//-                     p 3500/- 6 Months
//-         div.card
//-             h1 Member Ship
//-             div.card-box
//-                 div.card-img
//-                     img(src="/static/bg1.webp") 
//-                 div.card-content 
//-                     p 6500/- 1 Year
//-     section#sponsors 
//-         h1 Our Sponsors
//-         div#sponsorssp
//-             img(src="/static/apple.png", alt="")
//-             img(src="/static/hp (1).png", alt="")
//-             img(src="/static/p.png", alt="")
//-             img(src="/static/skype.png", alt="")
//-     footer#footer
//-         | copyright 2k22 MusselMonster.com | all rights reserved
    //- script
    //-   include ../static/index.js